    <form method="POST" action="{% url "contacts" %}" class="default-form" id="contactform">
      <div class="row">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="col-lg-12">
             {{ form.title.errors }}
             {{ form.title }}
        </div>
        <div class="col-lg-6 col-md-6">
             {{ form.name.errors }}
             {{ form.name }}
        </div>
        <div class="col-lg-6 col-md-6">
             {{ form.phone.errors }}
             {{ form.phone }}
        </div>
        <div class="col-lg-12">
               {{ form.text.errors }}
               {{ form.text }}
        </div>
        <div class="col-lg-12">
               <label for="id_captcha">Введите код с картинки</label>
               {{ form.captcha }}
        </div>
        <div class="col-lg-12 text-right" id="button-form">
            <button class="btn btn-contact" id="button-contact">Отправить</button>
              <div class="box" id="messenger"></div>
        </div>
    <div class="box" id="messenger"></div>
</div>
    </form>
