{% if object_list %}
 <div class="news col-lg-4 col-md-4">
        <div class="overlay">
          <img src="img/news-1.jpg" alt="">
          <div class="overlay-shadow">
            <div class="overlay-content">
              <object data="img/book.svg" type="image/svg+xml"></object>
              <h5><a href="blog.html">Read More</a></h5>
            </div>
          </div>
        </div>
        <div class="skew_prepended skew_member whiteSection"></div>
        <h4><a href="blog.html">777</a></h4>
        <h5>26th June</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aliquid, ex commodi quasi similique nam iste non sequi at quae dicta hic tenetu.</p>
        <ul class="social custom-list list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
{% endif %}